h1,h3 {
    color: white;
    text-align: center;
}
.playwrite-font {
  font-family: "Playwrite DE LA", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.century-schoolbook-font{
    font-family: 'Century Schoolbook', sans-serif;
    font-weight: bold;
    text-transform:none;
}
body {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/076/114/995/medium/megan-otton-asset.jpg?1716225077);
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.custom-button {
    background-color: white;
    color: black;
    padding: 10px 30px; 
    border: none; 
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.custom-button:hover {
    background-color: rgb(202, 194, 194);
}
.button{
    cursor: pointer;
}
.box-colour-and-opacity{
    color: black;
}
#transparent-background
{ 
	text-align: center; 
    align-items: center;
    word-wrap: break-word;
	padding: 150px 20px 70px; 
    opacity: 100%;
    background-color: rgb(0 0 0 / .5);
}
#button-opacity{
background-color: white;
border-radius: 20px;
border-style: none;
}

.simple-icons--artstation {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m0 17.723l2.027 3.505h.001a2.42 2.42 0 0 0 2.164 1.333h13.457l-2.792-4.838zm24 .025c0-.484-.143-.935-.388-1.314L15.728 2.728a2.42 2.42 0 0 0-2.142-1.289H9.419L21.598 22.54l1.92-3.325c.378-.637.482-.919.482-1.467m-11.129-3.462L7.428 4.858l-5.444 9.428z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.ic--baseline-email {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
